<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>theTipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DD6B7B61D8CE6B000BD73B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD6B7CA1D8CE6B100BD73B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD6B7D51D8CE6B100BD73B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
